#container{
    display: flex;
    width: 70%;
    margin: auto;
}
.big-thumb{
    width: 70%;
}
.category-name {
    font: 400 14px/16px Arial;
    color: #585858;
    text-transform: uppercase;
    position: relative;
    padding-right: 5px;
    z-index: 1;
    display: inline-block;
}

.category-name:before {
    content: '';
    position: absolute;
    height: 4px;
    background: #fad65f;
    left: 0;
    right: 0;
    bottom: 2px;
    z-index: -1
}

.small-thumb a.category-name {
    display: inline-block
}

.main-story-slider .glide__bullets {
    display: flex;
    justify-content: center
}

.main-story-slider .glide__bullet {
    width: 30px;
    height: 6px;
    background: #D6D6D6;
    border: none;
    margin: 0 2px;
    outline: 0
}
.glide__slides {
    position: relative;
    width: 100%;
    list-style: none;
    backface-visibility: hidden;
    transform-style: preserve-3d;
    touch-action: pan-Y;
    overflow: hidden;
    padding: 0;
    white-space: nowrap;
    display: flex;
    flex-wrap: nowrap;
    will-change: transform
}

.glide__slides--dragging {
    user-select: none
}

.glide__slide {
    width: 100%;
    height: 100%;
    flex-shrink: 0;
    white-space: normal;
    user-select: none;
    -webkit-touch-callout: none;
    -webkit-tap-highlight-color: transparent
}

.glide__slide a {
    user-select: none;
    -webkit-user-drag: none;
    -moz-user-select: none;
    -ms-user-select: none
}
.main-story-thumb-wrap,
            .videos-slider {
                max-width: 768px
            }

.glide__arrows,
.glide__bullets {
    -webkit-touch-callout: none;
    user-select: none
}

.glide--rtl {
    direction: rtl
}

.glide__slide {
    width: 206.667px !important;
    margin-left: 5px !important;
    margin-right: 5px !important;
}
.podcast-glide .glide__slides {
    display: flex
}
.glide__track {
    overflow: hidden
}
.main-story-slider .glide__bullet.glide__bullet--active {
    background: #F04F38
}

.main-story-thumb-wrap {
    position: relative;
    margin-bottom: 30px;
    max-width: 640px
}

.main-story-thumb {
    position: relative;
    margin-bottom: 15px
}

.main-story-thumb .slider .main-story-thumb {
    padding: 10px
}

.main-story-thumb .title-wrap {
    background: #fff;
    padding: 10px;
    margin: 0 10px;
    position: absolute;
    bottom: 10px;
    left: 0;
    right: 0
}

.main-story-thumb .category-name {
    display: inline-flex
}

.main-story-thumb .main-title {
    font: 700 26px/30px 'Playfair Display', sans-serif;
    letter-spacing: 0;
    color: #000;
    margin-top: 10px
}

.main-story-thumb .live-txt {
    background: #DF5B43;
    padding: 0 15px;
    font: Bold 15px/28px Arial;
    color: #FFF;
    text-transform: uppercase;
    position: absolute;
    top: 20px;
    left: 30px;
    border-radius: 2px;
    z-index: 10
}

.main-story-thumb .blinking {
    display: inline-block;
    width: 13px;
    height: 13px;
    background: #fff;
    border-radius: 30px;
    animation: blinkingText 1s linear infinite;
    margin-right: 5px
}
.main-story-thumb .thumb-social-wrap {
    position: absolute;
    top: 9px;
    right: 10px
}

.main-story-thumb .live-txt {
    display: flex;
    align-items: center;
    justify-content: center
}

.main-story-thumb .thumb {
    display: flex;
    justify-content: center;
    position: relative
}

.main-story-thumb .video-icon {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center
}

.big-thumb {
    position: relative;
    margin-bottom: 32px
}

.big-thumb .thumb-img {
    position: relative;
    display: block
}

.big-thumb .title-wrap {
    background: #fff;
    padding: 10px;
    margin: -28px 0 0 16px;
    position: relative
}

.big-thumb .main-title {
    margin-top: 15px
}

.big-thumb .main-title,
.big-thumb .main-title a {
    font: 700 24px/27px 'Playfair Display', sans-serif;
    letter-spacing: 0;
    color: #000
}

.big-thumb h2 {
    font: 700 24px/27px 'Playfair Display', sans-serif;
    margin: 10px 0
}

.big-thumb .thumb-social-wrap {
    position: absolute;
    top: 9px;
    right: 15px
}

.big-thumb .copy {
    font: 400 15px/20px Arial;
    letter-spacing: 0;
    color: #333;
    margin-top: 10px
}

.big-thumb .video-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%
}

.big-thumb .podcast-icon {
    position: absolute;
    top: 15px;
    left: 15px;
    width: 30px;
    height: 30px
}

.big-thumb .podcast-icon circle,
.big-thumb .podcast-icon path {
    fill: #fff
}

.big-thumb .photo-icon {
    position: absolute;
    top: 15px;
    left: 15px;
    background: #fff;
    border-radius: 50%;
    width: 50px;
    height: 50px
}

.big-thumb .photo-icon img {
    width: 100%
}

.big-thumb .photo-icon svg {
    margin: 5px 0 0
}

.big-thumb .sponsor-logo {
    position: absolute;
    top: 11px;
    right: 38px
}

.photos-wrap .big-thumb .main-title {
    margin: 5px 18px 0 0
}

.photos-wrap .big-thumb .main-title a {
    color: #fff;
    margin: 0;
    font: 700 31px/35px 'Playfair Display', sans-serif
}

.photos-wrap .big-thumb .title-wrap {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background: -moz-linear-gradient(top, rgba(0, 0, 0, 0) 0, rgba(0, 0, 0, .82) 100%);
    background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0) 0, rgba(0, 0, 0, .82) 100%);
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0, rgba(0, 0, 0, .82) 100%);
    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#00000000', endColorstr='#d1000000', GradientType=0);
    margin: 0;
    color: #fff;
    padding: 20px 30px
}

.photos-wrap .big-thumb .thumb-social-wrap {
    top: unset;
    bottom: 10px
}

.photos-wrap .thumb-social-wrap .button-social svg {
    fill: #fff
}

.main-story-thumb .photo-icon {
    position: absolute;
    top: 15px;
    left: 15px;
    background: #fff;
    border-radius: 50%;
    width: 50px;
    height: 50px
}

.main-story-thumb .photo-icon img {
    width: 100%
}

.main-story-thumb .photo-icon svg {
    margin: 5px 0 0
}

.small-thumb-wrap.photos .small-thumb .copy,
.small-thumb-wrap.trending .small-thumb .copy,
.small-thumb-wrap.videos .small-thumb .copy {
    margin: 0 0 50px
}
.small-thumb-wrap.photos .small-thumb .copy {
    margin: 0 0 20px
}


.small-thumb a {
    display: block
}


.small-thumb .copy {
    font: 700 15px/20px 'Playfair Display';
    letter-spacing: 0;
    color: #000;
    padding: 10px;
    margin: 0 0 20px;
    min-height: 92px;
    max-height: 92px;
    overflow: hidden
}

.small-thumb .category-name {
    margin-left: 10px;
    font: 400 13px/15px Arial
}

.small-thumb .thumb-social-wrap {
    position: absolute;
    bottom: 10px;
    right: 10px
}

.small-thumb .thumb-social-wrap .thumb-social {
    left: -35px
}

* {
    box-sizing: border-box
}

body {
    padding: 0;
    margin: 0;
    color: #000;
    font-family: Arial, sans-serif;
    box-sizing: border-box
}

a,
h1,
h2,
h3,
h4,
h5,
h6,
p {
    padding: 0;
    margin: 0
}

ul {
    padding: 0;
    margin: 0;
    list-style: none
}

a {
    display: inline-block;
    text-decoration: none;
    cursor: pointer;
    outline: 0;
    color: #000
}

a:hover {
    text-decoration: none
}

img {
    vertical-align: top;
    width: 100%
}


.main-container {
    display: flex
}

.container {
    max-width: 960px;
    margin: 0 auto;
    position: relative
}

.main-content {
    flex-basis: 0;
    flex-grow: 1;
    padding: 0;
    width: 640px
}
.slider-wrap {
    position: relative;
    overflow: hidden
}

.slider {
    display: flex
}

.big-thumb .thumb-img {
    position: relative;
    display: block
}


.thumb-social-wrap {
    position: relative
}

.thumb-social-wrap .button-social svg {
    width: 18px
}

.thumb-social-wrap .thumb-social {
    background: url(https://www.firstpost.com/static/images/social-bg.png) no-repeat;
    width: 60px;
    position: absolute;
    bottom: 30px;
    left: -22px;
    height: 0;
    overflow: hidden;
    -webkit-transition: all 500ms ease;
    -moz-transition: all 500ms ease;
    -ms-transition: all 500ms ease;
    -o-transition: all 500ms ease;
    transition: all 500ms ease;
    margin: 0
}

.thumb-social-wrap .thumb-social li {
    padding: 4px 0;
    border-bottom: #ddd solid 1px
}

.thumb-social-wrap .thumb-social li:first-child {
    padding-top: 8px
}

.thumb-social-wrap .thumb-social li:last-child {
    padding-bottom: 11px;
    border: none
}

.thumb-social-wrap .thumb-social a {
    width: 26px;
    height: 26px
}

.thumb-social-wrap .thumb-social svg {
    width: 26px;
    fill: #585858;
    cursor: pointer
}

.thumb-social-wrap .thumb-social.open {
    height: 167px;
    -webkit-transition: all 500ms ease;
    -moz-transition: all 500ms ease;
    -ms-transition: all 500ms ease;
    -o-transition: all 500ms ease;
    transition: all 500ms ease;
    padding: 10px 8px
}

.thumb-social-wrap .thumb-list {
    display: flex;
    justify-content: center;
    margin-bottom: 0
}

.thumb-social-wrap .button-social svg {
    cursor: pointer
}