.transition {
    -moz-transition: all 500ms ease;
    -webkit-transition: all 500ms ease;
    transition: all 500ms ease;
    -ms-transition: all 500ms ease;
    -o-transition: all 500ms ease;
}

.categoryName {
    font: 400 14px/16px Arial;
    text-transform: uppercase;
    position: relative;
    padding-right: 5px;
    z-index: 1;
    color: #585858;
    display: inline-block;
}

.categoryName:before {
    position: absolute;
    content: "";
    height: 4px;
    left: 0;
    right: 0;
    z-index: -1;
    background: #fad65f;
    bottom: 2px;
}

.mainStoryTitle {
    display: flex;
    flex-direction: column;
    align-items: center;
    font: 900 27px/35px Arial;
    letter-spacing: 0;
    color: #000;
    position: relative;
    margin-bottom: 15px;
    text-transform: uppercase;
    text-align: center;
    /* width: 83vw; */
}

.mainStoryTitle:before {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    bottom: 2px;
    border-bottom: #707070 solid 1px;
    z-index: -1;
}

.mainStoryTitle span {
    display: inline-block;
    width: 83px;
    height: 6px;
    background: #fad65f;
    margin: 0;
    position: relative;
}

.mainStoryTitle span:before {
    content: "";
    background: #fff;
    width: 10px;
    height: 5px;
    position: absolute;
    left: -10px;
    top: 0;
}

.mainStoryTitle span:after {
    content: "";
    background: #fff;
    width: 10px;
    height: 5px;
    position: absolute;
    right: -10px;
    top: 0;
}

.doubleTitle {
    position: relative;
    margin: 0 0 0 11px;
}

.titleShadow:after {
    content: "";
    display: inline-block;
    width: 100%;
    height: 6px;
    background: #f5d672;
    position: absolute;
    bottom: 12px;
    left: 0;
}

.titleText {
    font: 900 Italic 20px/45px Arial;
    color: #000;
    text-transform: uppercase;
    position: relative;
    z-index: 2;
}

.titleShadow {
    font: 900 Italic 24px/53px Arial;
    color: #f2f2f2;
    text-transform: uppercase;
    position: absolute;
    left: -11px;
    z-index: 1;
    top: -8px;
    letter-spacing: 1px;
}

@keyframes blinkingText {
    50% {
        opacity: 0;
    }
}

.mainStoryThumbWrap {
    position: relative;
    margin-bottom: 30px;
    max-width: 640px;
}

@keyframes blinkingText {
    50% {
        opacity: 0;
    }
}

.bigThumb {
    position: relative;
    margin-bottom: 32px;
}

.bigThumb .thumbImg {
    position: relative;
    display: block;
    width: fit-content;
}

.bigThumb .titleWrap {
    background: #fff;
    padding: 10px;
    margin: -28px 0 0 16px;
    position: relative;
    /* width: 83vw; */
}

.bigThumb .mainTitle {
    margin-top: 15px;
}

.bigThumb .mainTitle,
.bigThumb .mainTitle a {
    font: 700 24px/27px "Playfair Display", sans-serif;
    letter-spacing: 0;
    color: #000;
}

.bigThumb h2 {
    font: 700 24px/27px "Playfair Display", sans-serif;
    margin: 10px 0;
}

.bigThumb .thumbSocialWrap {
    position: absolute;
    top: 9px;
    right: 15px;
}

.bigThumb .copy {
    font: 400 15px/20px Arial;
    letter-spacing: 0;
    color: #333;
    margin-top: 10px;
}

.commonWidget {
    margin: 0 0 30px;
}

.topStoriesWrap {
    border: 1px solid #dedede;
    position: relative;
    top: -15px;
    border-bottom: 4px solid #000;
}

.topStoriesWrap .storyListUl {
    list-style-type: none;
}

.topStoriesWrap .storyListUl li {
    border-bottom: 1px solid #d5d5d5;
    position: relative;
    counter-increment: inst;
    padding: 15px 5px 15px 45px;
}

.topStoriesWrap .storyListUl li::after {
    background: #efefef;
    content: "";
    display: inline-block;
    width: 27px;
    height: 27px;
    border-radius: 50%;
    position: absolute;
    z-index: 0;
    left: 9px;
    top: 23px;
}

.topStoriesWrap .storyListUl li::before {
    content: counter(inst);
    text-align: center;
    position: absolute;
    transition: all 0.2s ease-in-out;
    z-index: 1;
    font: 700 37px/17px "Playfair Display";
    color: #000;
    text-transform: uppercase;
    left: 9px;
}

.topHeadTitle {
    font: 700 18px/22px "Playfair Display";
    letter-spacing: 0;
    color: #000;
    margin: 0 0 5px;
    max-width: 90%;
}

.topHeadSum {
    font: 400 14px/18px Arial;
    letter-spacing: 0.56px;
    color: #000;
}

@media (max-width: 768px) {
    header {
        padding: 0 10px;
    }
    .mainContainer {
        display: inline-block;
    }
    .mainMenuWrap .menuWrap {
        overflow-x: scroll;
        /* padding: 0 10px; */
    }
    .mainContent {
        width: auto;
    }
    .mainStoryThumbWrap {
        max-width: 768px;
    }
    .sidebar {
        width: 768px;
        margin: 0;
    }
}

@media only screen and (min-width: 1024px) and (max-width: 1200px) {
    .container {
        max-width: 860px;
    }
}

.transition {
    -webkit-transition: all 500ms ease;
    -moz-transition: all 500ms ease;
    -ms-transition: all 500ms ease;
    -o-transition: all 500ms ease;
    transition: all 500ms ease;
}

* {
    box-sizing: border-box;
}

body {
    padding: 0;
    margin: 0;
    -webkit-overflow-scrolling: touch;
    color: #000;
    font-family: Arial, sans-serif;
    box-sizing: border-box;
}

a,
h1,
h2,
h3,
h4,
h5,
h6,
p {
    padding: 0;
    margin: 0;
}

ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

a {
    display: inline-block;
    text-decoration: none;
    cursor: pointer;
    outline: 0;
    color: #000;
}

a:hover {
    text-decoration: none;
}

img {
    vertical-align: top;
    width: 100%;
}

.mainContainer {
    display: flex;
}

.container {
    /* max-width: 94vw; */
    max-width: 960px;
    margin: 0 auto;
    position: relative;
}

.mainContent {
    flex-basis: 0;
    flex-grow: 1;
    padding: 0;
    /* width: 94vw; */
    /* margin: auto; */
}

.sidebar {
    flex-shrink: 0;
    width: 300px;
    margin-left: 20px;
}

.tabContainer {
    display: flex;
}

.tab {
    background-color: #f1f1f1;
    width: 30%;
    height: 300px;
}

.tablinks {
    display: block;
    background-color: inherit;
    color: #000;
    padding: 13px 10px;
    border: none;
    outline: 0;
    text-align: left;
    cursor: pointer;
    transition: 0.3s;
    font-size: 17px;
}

.tablinks:hover {
    background-color: #ddd;
}

.tablinks.active {
    background-color: #fff;
}

.tabcontent {
    display: none;
    padding: 0;
    width: 70%;
    border-left: none;
}

.bigThumb .thumbImg {
    position: relative;
    display: block;
}

@media (max-width: 768px) {
    header {
        padding: 0 10px;
    }
    .mainContainer {
        display: inline-block;
        /* width: 94vw; */
    }
    .bigThumb {
        width: 94vw;
    }
    .mainMenuWrap .menuWrap {
        overflow-x: scroll;
        padding: 0 10px;
    }
    .mainStoryThumbWrap {
        max-width: 94vw;
        width: 94vw;
    }
    .sidebar {
        width: 94vw;
        margin: 0;
    }
}

@media only screen and (min-width: 1024px) and (max-width: 1200px) {
    .container {
        max-width: 860px;
    }
}

.headerSticky {
    position: sticky;
    top: 0;
    z-index: 999;
    margin-bottom: 30px;
}

header {
    background: #000;
    padding: 2px 0;
    position: sticky;
    top: 0;
    z-index: 99999999;
}

header .headerWrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0;
}

header .sideNavMenuBtn {
    display: flex;
    flex-direction: column;
    padding: 5px;
    cursor: pointer;
}

header .sideNavMenuBtn span {
    width: 22px;
    height: 2px;
    margin-bottom: 3px;
    background: #fff;
}

#sideNavWrap {
    opacity: 0;
    z-index: -9;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.3);
    -webkit-transition: all 500ms ease;
    -moz-transition: all 500ms ease;
    -ms-transition: all 500ms ease;
    -o-transition: all 500ms ease;
    transition: all 500ms ease;
}

#mySideNav {
    position: absolute;
    top: 0;
    left: -320px;
    bottom: 0;
    width: 320px;
    background: #fff;
    -webkit-transition: all 500ms ease;
    -moz-transition: all 500ms ease;
    -ms-transition: all 500ms ease;
    -o-transition: all 500ms ease;
    transition: all 500ms ease;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
}

#mySideNav.horiShare {
    display: flex;
    margin: 10px 0;
}

#mySidenav::-webkit-scrollbar {
    width: 5px;
}

#mySidenav::-webkit-scrollbar-track {
    background: #f1f1f1;
}

#mySidenav::-webkit-scrollbar-thumb {
    background: #767676;
}

#sideNavWrap.open {
    opacity: 1;
    z-index: 9999999999;
}

#sideNavWrap.open #mySideNav {
    left: 0;
    -webkit-transition: all 500ms ease;
    -moz-transition: all 500ms ease;
    -ms-transition: all 500ms ease;
    -o-transition: all 500ms ease;
    transition: all 500ms ease;
}

.closeSideNav {
    display: flex;
    justify-content: flex-end;
    padding: 10px;
    cursor: pointer;
}

.closeSideNav svg {
    width: 24px;
    height: 24px;
}

.menuList,
.menuList li {
    display: block;
}

.menuList li a {
    display: block;
    padding: 7px 10px 7px 30px;
    font: 700 14px/24px Arial;
    color: #000;
    border-bottom: #b9b9b9 solid 1px;
}

.searchBox {
    display: flex;
}

.searchBox .searchBtn {
    cursor: pointer;
}

.searchBox .searchBtn svg {
    width: 17px;
    height: 17px;
    fill: #fff;
}

.searchBox .searchBtn .close {
    display: none;
    cursor: pointer;
}

.searchBox .inputWrap {
    position: absolute;
    top: -57px;
    right: 42px;
    left: 4px;
    -webkit-transition: all 500ms ease;
    -moz-transition: all 500ms ease;
    -ms-transition: all 500ms ease;
    -o-transition: all 500ms ease;
    transition: all 500ms ease;
    padding: 2px 0;
    height: 41px;
}

.searchBox .inputWrap input {
    width: 100%;
    background: #000;
    border: 1px solid #5f5f5f;
    padding: 0 10px;
    height: 100%;
    font: 400 13px/16px Arial;
    color: #c7c7c7;
    text-transform: capitalize;
}

.searchBox.active .inputWrap {
    top: 2px;
}

.searchBox.active .searchBtn .close {
    display: block;
}

.searchBox.active .searchBtn .open {
    display: none;
}

#mySideNav.tablinks {
    border-bottom: #ccc solid 2px;
    text-align: left;
    font: 600 10px/10px Arial;
    letter-spacing: 0;
    color: #585858;
    opacity: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-transform: capitalize;
}

#mySideNav.tablinks svg {
    fill: #b9b9b9;
    width: 16px;
    height: 16px;
    margin-bottom: 6px;
}

#mySideNav.tab {
    height: 100%;
}

#mySideNav.tabContainer {
    border-top: #b9b9b9 solid 1px;
    border-bottom: #b9b9b9 solid 1px;
    flex-grow: 1;
}

.mainMenuWrap {
    -webkit-box-shadow: 0 3px 6px 0 #d6d6d6;
    box-shadow: 0 3px 6px 0 #d6d6d6;
    background: #fff;
}

.mainMenuWrap .menuWrap {
    display: flex;
    white-space: nowrap;
    padding: 0;
    /* width: 100%; */
}

.mainMenuWrap .mainMenu {
    display: flex;
    padding: 0;
}

.mainMenuWrap .mainMenu li {
    padding: 8px 0 6px;
    border-bottom: transparent solid 2px;
}

.mainMenuWrap .mainMenu a {
    display: inline-block;
    font: 400 12px/15px Arial;
    padding: 0 14px;
}

.mainMenuWrap .mainMenu li:first-child a {
    padding-left: 0px;
    border-left: none;
}

.mainMenuWrap .mainMenu .active,
.mainMenuWrap .mainMenu li:hover {
    font-weight: 700;
    border-color: #f04f38;
}

.mainMenuWrap .mainMenu a {
    border-left: #c4c4c4 solid 1px;
}

.mainMenuWrap .mainMenu {
    margin: auto;
}

.socialDiv {
    display: flex;
    align-items: center;
    border-right: 1px solid #999;
    padding: 0 30px 0 0;
    margin: 0 30px 0 0;
    position: absolute;
    top: 5px;
    right: 30px;
    bottom: 5px;
}

.socialDiv a {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    margin: 0 5px;
}

.socialDiv svg {
    width: 24px;
    height: 24px;
}

#mySideNav.horiShare li {
    margin: 0 5px;
}

.sc-icon {
    width: 26px;
    height: 26px;
}

.horiShare {
    display: flex;
    padding-right: 6px;
}

.horiShare li {
    padding: 0 2px;
}

.thumbSocialWrap {
    position: relative;
}

.thumbSocialWrap .buttonSocial svg {
    width: 18px;
}

.thumbSocialWrap .thumbSocial {
    background: url(https://www.firstpost.com/static/images/social-bg.png) no-repeat;
    width: 60px;
    position: absolute;
    bottom: 30px;
    left: -22px;
    height: 0;
    overflow: hidden;
    -webkit-transition: all 500ms ease;
    -moz-transition: all 500ms ease;
    -ms-transition: all 500ms ease;
    -o-transition: all 500ms ease;
    transition: all 500ms ease;
    margin: 0;
}

.thumbSocialWrap .thumbSocial li {
    padding: 4px 0;
    border-bottom: #ddd solid 1px;
}

.thumbSocialWrap .thumbSocial li:first-child {
    padding-top: 8px;
}

.thumbSocialWrap .thumbSocial li:last-child {
    padding-bottom: 11px;
    border: none;
}

.thumbSocialWrap .thumbSocial a {
    width: 26px;
    height: 26px;
}

.thumbSocialWrap .thumbSocial svg {
    width: 26px;
    fill: #585858;
    cursor: pointer;
}

.thumbSocialWrap .thumbSocial.open {
    height: 167px;
    -webkit-transition: all 500ms ease;
    -moz-transition: all 500ms ease;
    -ms-transition: all 500ms ease;
    -o-transition: all 500ms ease;
    transition: all 500ms ease;
    padding: 10px 8px;
}

.thumbSocialWrap .thumbList {
    display: flex;
    justify-content: center;
    margin-bottom: 0;
}

.rhsVideoDiv {
    margin: 0 0 30px;
}

.rhsVideoDiv .rhsVideoTitle {
    font: 700 18px/24px "Playfair Display";
    color: #000;
    margin: 0 0 10px;
}

.thumbSocialWrap .buttonSocial svg {
    cursor: pointer;
}

.pannelTitle a {
    font: 700 18px/24px "Playfair Display";
    color: #000;
    margin: 0 0 10px;
}


/* <-------Footer CSS ---- > */

@font-face {
    font-family: "Playfair Display";
    font-style: normal;
    font-weight: 400;
    src: url(https://www.firstpost.com/static/fonts/playfair-display-v20-latin-regular.eot);
    src: local(""), url(https://www.firstpost.com/static/fonts/playfair-display-v20-latin-regular.eot?#iefix) format("embedded-opentype"), url(https://www.firstpost.com/static/fonts/playfair-display-v20-latin-regular.woff2) format("woff2"), url(/static/fonts/playfair-display-v20-latin-regular.woff) format("woff"), url(https://www.firstpost.com/static/fonts/playfair-display-v20-latin-regular.ttf) format("truetype"), url(https://www.firstpost.com/static/fonts/playfair-display-v20-latin-regular.svg#PlayfairDisplay) format("svg");
    font-display: swap;
}

@font-face {
    font-family: "Playfair Display";
    font-style: normal;
    font-weight: 700;
    src: url(https://www.firstpost.com/static/fonts/playfair-display-v20-latin-700.eot);
    src: local(""), url(https://www.firstpost.com/static/fonts/playfair-display-v20-latin-700.eot?#iefix) format("embedded-opentype"), url(https://www.firstpost.com/static/fonts/playfair-display-v20-latin-700.woff2) format("woff2"), url(https://www.firstpost.com/static/fonts/playfair-display-v20-latin-700.woff) format("woff"), url(https://www.firstpost.com/static/fonts/playfair-display-v20-latin-700.ttf) format("truetype"), url(https://www.firstpost.com/static/fonts/playfair-display-v20-latin-700.svg#PlayfairDisplay) format("svg");
    font-display: swap;
}

.footer {
    border-top: #585858 solid 6px;
    padding: 10px 0 0;
}

.footer .footerMain {
    display: flex;
    justify-content: space-between;
}

.footer .horiShare li {
    padding: 0 5px;
}

.footerLinkWrap {
    display: flex;
    margin-top: 10px;
    padding: 0;
    border-top: #ddd solid 1px;
    border-bottom: #ddd solid 1px;
}

.footerLinkWrap .footerColumn {
    flex: 1;
    border-right: #ddd solid 1px;
    padding: 0 8px 15px;
}

.footerLinkWrap .footerColumn:last-child {
    border-right: none;
}

.footerLinkWrap .footerHeading {
    font: 800 13px/18px Arial;
    letter-spacing: 0;
    color: #333;
    margin-top: 15px;
    margin-bottom: 7px;
    text-transform: capitalize;
}

.footerLinkWrap .footerLinks a {
    font: 400 12px/22px Arial;
    letter-spacing: 0;
    color: #333;
}

.otherSites {
    display: flex;
    align-items: center;
    padding: 8px;
    border-bottom: #ddd solid 1px;
    margin-bottom: 10px;
}

.companyName {
    display: flex;
    align-items: center;
    font: 800 13px/18px Arial;
    letter-spacing: 0;
    color: #333;
    margin-right: 10px;
    flex-shrink: 0;
}

.companyName svg {
    width: 18px;
    margin-left: 5px;
    fill: #999;
}

.otherSitesLinks {
    display: flex;
}

.otherSitesLinks li {
    padding: 0 8px;
}

.otherSitesLinks li a {
    font: 400 12px/22px Arial;
    letter-spacing: 0.24px;
    color: #333;
}

.copywrite {
    display: flex;
    justify-content: center;
    font: 400 12px/22px Arial;
    letter-spacing: 0;
    color: #333;
}

.tncLinks {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5px 0 10px;
}

.tncLinks li {
    padding: 0 5px;
    border-right: #ccc solid 1px;
}

.tncLinks li:last-child {
    border: none;
}

.tncLinks li a {
    font: 700 12px/22px Arial;
    letter-spacing: 0;
    color: #000;
}

@media only screen and (min-width: 0px) and (max-width: 767px) {
    .socialDiv {
        display: none;
    }
    /* .container {
        width: 100%;
    } */
}

@media only screen and (min-width: 0px) and (max-width: 921px) {
    #mySEARCH {
        margin: 0% 2%;
    }
}

#loginDiv {
    width: 30%;
    margin: 30px auto;
}

#signupDiv {
    width: 30%;
    margin: 30px auto;
}

@media only screen and (min-width: 0px) and (max-width: 913px) {
    #loginDiv {
        width: 80%;
    }
    #signupDiv {
        width: 80%;
    }
}

.socialDiv ul li a {
    margin: 0px;
}

#subscribeDiv form {
    display: block;
    position: relative;
    text-align: left;
    padding: 10px 0 10px 3%;
}

#subscribeDiv h2 {
    font-weight: bold;
    padding: 0;
    margin: 15px 0;
    font-size: 1.4em;
}

#subscribeDiv input {
    border: 1px solid #abb0b2;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}

#subscribeDiv .button {
    clear: both;
    background-color: #aaa;
    border: 0 none;
    border-radius: 4px;
    transition: all 0.23s ease-in-out 0s;
    color: #ffffff;
    cursor: pointer;
    display: inline-block;
    font-size: 15px;
    font-weight: normal;
    height: 32px;
    line-height: 32px;
    margin: 0 5px 10px 0;
    padding: 0 22px;
    text-align: center;
    text-decoration: none;
    vertical-align: top;
    white-space: nowrap;
    width: auto;
}

#subscribeDiv .button:hover {
    background-color: #777;
}

#subscribeDiv .inputDiv {
    clear: left;
    position: relative;
    width: 96%;
    padding-bottom: 3%;
    min-height: 50px;
}

#subscribeDiv .inputDiv label {
    display: block;
    margin-bottom: 3px;
}

#subscribeDiv .inputDiv input {
    display: block;
    width: 100%;
    padding: 8px 0;
    text-indent: 2%;
}

#subscribeDiv .asterisk {
    color: #e85c41;
    font-size: 150%;
    font-weight: normal;
    position: relative;
    top: 5px;
}

#mc-embedded-subscribe {
    clear: both;
    width: auto;
    display: block;
    margin: 1em 0 1em 5%;
}

#subscribeDiv {
    background: #fff;
    clear: left;
    font: 14px Helvetica, Arial, sans-serif;
}

#subscribeDiv {
    border: 1px solid #dedede;
    padding: 10px;
    margin-bottom: 10px;
}

#subscribeDiv form {
    padding: 0px;
}

#subscribeDiv .button {
    background-color: #fad65f;
    -webkit-appearance: none;
}

#subscribeDiv h2 {
    margin: 0 0 10px;
}

#subscribeDiv .button:hover {
    background-color: #fad65f;
}

@media only screen and (min-width: 768px) and (max-width: 770px) {
    .mainStoryTitle {
        width: 90vw;
    }
    .bigThumb .thumbImg {
        width: 90vw;
    }
    .bigThumb .titleWrap {
        width: 90vw;
    }
}