.transition {
    -webkit-transition: all 500ms ease;
    -moz-transition: all 500ms ease;
    -ms-transition: all 500ms ease;
    -o-transition: all 500ms ease;
    transition: all 500ms ease;
}

.category-name {
    font: 600 12px/15px Arial;
    color: #585858;
    text-transform: uppercase;
    position: relative;
    padding-right: 5px;
    z-index: 1;
    display: inline-block;
    margin: 0 10px;
}

.category-name:before {
    content: "";
    position: absolute;
    height: 4px;
    background: #fad65f;
    left: 0;
    right: 0;
    bottom: 2px;
    z-index: -1;
}

.main-story-title {
    display: flex;
    flex-direction: column;
    align-items: center;
    font: Bold 22px/23px Arial;
    letter-spacing: 0;
    color: #000;
    position: relative;
    margin-bottom: 15px;
    text-transform: uppercase;
    text-align: center;
}

.main-story-title:before {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    bottom: 2px;
    border-bottom: #707070 solid 1px;
    z-index: -1;
}

.main-story-title span {
    display: inline-block;
    width: 83px;
    height: 4px;
    background: #fad65f;
    margin-top: 8px;
    position: relative;
}

.main-story-title span:before {
    content: "";
    background: #fff;
    width: 10px;
    height: 5px;
    position: absolute;
    left: -10px;
    top: 0;
}

.main-story-title span:after {
    content: "";
    background: #fff;
    width: 10px;
    height: 5px;
    position: absolute;
    right: -10px;
    top: 0;
}

.double-title {
    position: relative;
    margin: 0 0 0 11px;
}

.title-shadow:after {
    content: "";
    display: inline-block;
    width: 100%;
    height: 6px;
    background: #f5d672;
    position: absolute;
    bottom: 12px;
    left: 0;
}

.title-txt {
    font: 900 Italic 20px/45px Arial;
    color: #000;
    text-transform: uppercase;
    position: relative;
    z-index: 2;
}

.title-shadow {
    font: 900 Italic 24px/53px Arial;
    color: #f2f2f2;
    text-transform: uppercase;
    position: absolute;
    left: -11px;
    z-index: 1;
    top: -8px;
    letter-spacing: 1px;
}

.see-all {
    display: flex;
    color: #333;
    font: 400 12px/18px Arial;
    text-transform: capitalize;
    justify-content: flex-end;
}

.see-all svg {
    fill: #333;
    width: 18px;
}

.cricket-ticker-wrap {
    overflow-x: scroll;
    white-space: nowrap;
    padding: 15px 5px;
    position: relative;
}

.cricket-ticker-wrap .live-txt {
    display: flex;
    align-items: center;
    background: #df5b43;
    padding: 0 10px;
    font: 600 12px/21px Arial;
    letter-spacing: 0.24px;
    color: #fff;
    text-transform: uppercase;
}

.cricket-ticker-wrap .blinking {
    display: inline-block;
    width: 9px;
    height: 9px;
    background: #fff;
    border-radius: 30px;
    animation: blinkingText 1s linear infinite;
    margin-right: 5px;
}

@keyframes blinkingText {
    50% {
        opacity: 0;
    }
}

.cricket-ticker-wrap .cricket-ticker {
    display: inline-flex;
    background: #fff;
    -webkit-box-shadow: 0 0 6px 0 #d6d6d6;
    box-shadow: 0 0 6px 0 #d6d6d6;
    margin: 0 5px;
}

.cricket-ticker-wrap .cricket-score-wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5px;
}

.cricket-ticker-wrap .teams-name {
    font: Bold 10px/13px Arial;
    letter-spacing: 0.2px;
    color: #333;
}

.cricket-ticker-wrap .match-date {
    display: flex;
}

.cricket-ticker-wrap .match-date li {
    font: 400 10px/13px Arial;
    letter-spacing: 0.2px;
    color: #333;
    position: relative;
}

.cricket-ticker-wrap .match-date li:last-child {
    padding-left: 20px;
}

.cricket-ticker-wrap .match-date li:last-child:before {
    content: "";
    background: #bcbcbc;
    width: 5px;
    height: 5px;
    border-radius: 10px;
    position: absolute;
    top: 4px;
    left: 10px;
}

.cricket-ticker-wrap .inning-details {
    display: flex;
    align-items: flex-end;
}

.cricket-ticker-wrap .match-score {
    font: Bold 14px/18px Arial;
    letter-spacing: 0.28px;
    color: #f33;
    margin: 0 3px;
}

.cricket-ticker-wrap .overs {
    font: 600 10px/14px Arial;
    letter-spacing: 0.2px;
    color: #f33;
    margin: 0 3px;
}

.cricket-ticker-wrap .inning {
    font: Bold 10px/13px Arial;
    letter-spacing: 0.2px;
    color: #333;
    margin: 0 3px;
}

.main-story-slider .glide__bullets {
    display: flex;
    justify-content: center;
}

.main-story-slider .glide__bullet {
    width: 21px;
    height: 4px;
    background: #d6d6d6;
    border: none;
    margin: 0 2px;
    outline: 0;
}

.main-story-slider .glide__bullet.glide__bullet--active {
    background: #f04f38;
}

.main-story-thumb-wrap {
    position: relative;
    margin-bottom: 30px;
    margin-top: 10px;
}

.main-story-thumb {
    position: relative;
    margin-bottom: 15px;
}

.main-story-thumb .slider .main-story-thumb {
    padding: 10px;
}

.main-story-thumb .title-wrap {
    background: #fff;
    padding: 5px 10px 10px;
    margin: 0 22px;
    position: absolute;
    bottom: 12px;
    left: 0;
    right: 0;
}

.main-story-thumb .category-name {
    display: inline-flex;
    margin-left: 0;
}

.main-story-thumb .main-title {
    font: 700 22px/25px "Playfair Display", sans-serif;
    letter-spacing: 0;
    color: #000;
    margin-top: 10px;
}

.main-story-thumb .live-txt {
    background: #df5b43;
    padding: 3px 7px;
    font: Bold 14px/18px Arial;
    color: #fff;
    text-transform: uppercase;
    position: absolute;
    top: 20px;
    letter-spacing: 1px;
    left: 30px;
    border-radius: 2px;
}

.main-story-thumb .blinking {
    display: inline-block;
    width: 11px;
    height: 11px;
    background: #fff;
    border-radius: 30px;
    animation: blinkingText 1s linear infinite;
    margin-right: 5px;
}

@keyframes blinkingText {
    50% {
        opacity: 0;
    }
}

.main-story-thumb .thumb-social-wrap {
    position: absolute;
    top: 9px;
    right: 10px;
}

.main-story-thumb .live-txt {
    display: flex;
    align-items: center;
    justify-content: center;
}

.main-story-thumb .thumb {
    display: flex;
    justify-content: center;
    padding: 0 10px;
}

.main-story-thumb .video-icon {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.big-thumb {
    position: relative;
    margin-bottom: 20px;
}

.big-thumb .thumb-img {
    position: relative;
}

.big-thumb .category-name {
    margin-left: 0;
}

.big-thumb .title-wrap {
    background: #fff;
    padding: 5px 5px 10px;
    margin: -28px 0 0 10px;
    position: relative;
}

.big-thumb .main-title {
    font: 700 22px/25px "Playfair Display", sans-serif;
    letter-spacing: 0;
    color: #000;
    margin-top: 15px;
}

.big-thumb .thumb-social-wrap {
    position: absolute;
    top: 9px;
    right: 10px;
}

.big-thumb .thumb-social-wrap .thumb-social {
    bottom: 23px;
    left: -36px;
}

.big-thumb .copy {
    font: 400 13px/18px Arial;
    letter-spacing: 0;
    color: #333;
    margin-top: 10px;
}

.big-thumb .video-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.big-thumb .podcast-icon {
    position: absolute;
    top: 15px;
    left: 15px;
    width: 30px;
    height: 30px;
}

.big-thumb .podcast-icon circle,
.big-thumb .podcast-icon path {
    fill: #fff;
}

.big-thumb .photo-icon {
    position: absolute;
    top: 15px;
    left: 15px;
    width: 30px;
    background: #fff;
    height: 30px;
    border-radius: 50%;
}

.big-thumb .photo-icon svg {
    width: 31px;
    height: 27px;
    margin: 2px 0 0;
}

.big-thumb .photo-icon img {
    width: 100%;
}

.big-thumb .sponsor-logo {
    position: absolute;
    top: 8px;
    right: 30px;
}

.photos-wrap .big-thumb .main-title {
    margin: 5px 18px 0 0;
}

.common-widget {
    margin: 0 10px 30px;
}

.top-stories-wrap {
    border: 1px solid #dedede;
    position: relative;
    top: -15px;
    border-bottom: 4px solid #000;
}

.top-stories-wrap .story-list-ul {
    list-style-type: none;
}

.top-stories-wrap .story-list-ul li {
    border-bottom: 1px solid #d5d5d5;
    position: relative;
    counter-increment: inst;
    padding: 15px 5px 15px 45px;
}

.top-stories-wrap .story-list-ul li::after {
    background: #efefef;
    content: "";
    display: inline-block;
    width: 27px;
    height: 27px;
    border-radius: 50%;
    position: absolute;
    z-index: 0;
    left: 9px;
    top: 23px;
}

.top-stories-wrap .story-list-ul li::before {
    content: counter(inst);
    text-align: center;
    position: absolute;
    transition: all 0.2s ease-in-out;
    z-index: 1;
    font: 700 37px/17px "Playfair Display";
    color: #000;
    text-transform: uppercase;
    left: 9px;
}

.top-play {
    position: absolute;
    right: 5px;
    top: 5px;
    border: 1px dashed #000;
    border-radius: 30px;
    padding: 4px 4px 0;
}

.top-head-title {
    font: 700 18px/22px "Playfair Display";
    letter-spacing: 0;
    color: #000;
    margin: 0 0 5px;
}

.top-head-sum {
    font: 400 14px/17px Arial;
    letter-spacing: 0.56px;
    color: #000;
}

.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}

.related-story-wrap {
    border: 1px solid #dedede;
    position: relative;
    top: -15px;
    margin: 0 0 20px;
    border-bottom: 4px solid #000;
}

.related-story-wrap .related-story-list {
    list-style-type: none;
}

.related-story-wrap .related-story-list li {
    border-bottom: 1px solid #d5d5d5;
    padding: 18px 10px;
}

.related-story-wrap .related-story-list li a {
    display: inline-block;
}

.w-img-holder {
    position: relative;
    min-width: 95px;
    max-width: 95px;
    margin: 0 10px 0 0;
    float: left;
}

.w-img-holder img {
    width: 100%;
}

.img-play {
    position: absolute;
    bottom: -10px;
    left: -5px;
}

.rel-title {
    font: 700 16px/22px "Playfair Display";
    letter-spacing: 0;
    color: #000;
    margin: 0 0 10px;
}

.rel-sum-txt {
    font: 400 14px/17px Arial;
    letter-spacing: 0.56px;
    color: #000;
}

.small-thumb-wrap {
    margin-bottom: 30px;
    overflow: hidden;
    position: relative;
}

.small-thumb-wrap.photos .small-thumb .copy,
.small-thumb-wrap.trending .small-thumb .copy {
    margin: 0 0 30px;
}

.small-thumb-wrap.photos .trending-bottom,
.small-thumb-wrap.trending .trending-bottom {
    display: flex;
    justify-content: space-between;
    position: absolute;
    width: 100%;
    bottom: 10px;
    padding: 40px 0 0;
}

.small-thumb-wrap.photos .trending-bottom .thumb-social-wrap,
.small-thumb-wrap.trending .trending-bottom .thumb-social-wrap {
    margin-right: 10px;
    position: initial;
}

.small-thumb-wrap.photos .trending-bottom .thumb-social-wrap .thumb-social,
.small-thumb-wrap.trending .trending-bottom .thumb-social-wrap .thumb-social {
    left: auto;
    right: -6px;
}

.small-thumb-wrap.photos .trending-bottom .category-name:before,
.small-thumb-wrap.trending .trending-bottom .category-name:before {
    bottom: 7px;
}

.small-thumb-wrap.photos .small-thumb .copy {
    margin: 0 0 20px;
}

.small-thumb-row {
    overflow-x: scroll;
    white-space: nowrap;
    padding-bottom: 10px;
}

.small-thumb-row .small-thumb {
    display: inline-block;
    max-width: 192px;
    background: #fff;
    white-space: normal;
    -webkit-box-shadow: 0 3px 6px 0 #d6d6d6;
    box-shadow: 0 3px 6px 0 #d6d6d6;
    position: relative;
    padding-bottom: 10px;
    margin: 0 10px;
    vertical-align: top;
}

.small-thumb-row .thumbnail {
    position: relative;
}

.small-thumb-row .thumbnail .video-icon {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 50px;
    height: 50px;
}

.small-thumb-row .thumbnail .s-photo-icon {
    position: absolute;
    bottom: 10px;
    left: 10px;
}

.small-thumb-row .copy {
    font: 700 15px/20px "Playfair Display", sans-serif;
    letter-spacing: 0;
    color: #000;
    padding: 10px;
    margin: 0 0 20px;
    min-height: 92px;
    max-height: 92px;
    overflow: hidden;
}

.small-thumb-row .category-name {
    margin-left: 10px;
}

.small-thumb-row .thumb-social-wrap {
    position: absolute;
    bottom: 10px;
    right: 10px;
}

.small-thumb-row .thumb-social-wrap .thumb-social {
    left: -35px;
}

.videos .small-thumb-row {
    background: #f2f2f2;
    padding: 25px 0 35px;
    margin-top: -10px;
}

.videos .small-thumb-row .see-all {
    position: absolute;
    bottom: 5px;
    right: 10px;
}

.photos .small-thumb-row {
    background: #f2f2f2;
    padding: 25px 0;
    margin-top: -10px;
}

.podcast-widget {
    border: 1px solid #dedede;
    border-bottom: 4px solid #000;
}

.podcast-glide {
    overflow: hidden;
    margin: 25px 17px 15px;
}

.podcast-glide .glide__arrows {
    display: flex;
    position: relative;
}

.podcast-glide .glide__arrows button {
    font-family: Consolas;
    font-size: 14px;
    font-weight: 700;
    background: 0 0;
    border: none;
    outline: 0;
    position: absolute;
    top: 23px;
    cursor: pointer;
}

.podcast-glide .glide__arrows .glide__arrow--prev {
    left: 25%;
}

.podcast-glide .glide__arrows .glide__arrow--next {
    right: 25%;
}

.podcast-glide .glide__slides {
    display: flex;
}

.podcast-glide .podcast-title {
    font: 400 14px/18px Arial;
    letter-spacing: 0.14px;
    color: #6f6f6f;
    border-bottom: 1px solid #e0e0e0;
    padding: 5px 0 10px;
    min-height: 95px;
    max-height: 95px;
    overflow: hidden;
}

.podcast-glide .glide__bullets {
    display: flex;
    margin: 30px 0 0;
    align-items: center;
    justify-content: center;
    padding: 0 0 10px;
}

.podcast-glide .glide__bullets button {
    border: none;
    border-radius: 50%;
    width: 6px;
    height: 6px;
    background: #d9d9d9;
    padding: 0;
    outline: 0;
    margin: 0 5px;
}

.podcast-glide .glide__bullets button.glide__bullet--active {
    background: #000;
    transform: scale(1.2);
    transition: 0.6s;
}

.footer {
    border-top: #585858 solid 6px;
    padding: 10px 0 0;
}

.footer .footer-main {
    display: flex;
    justify-content: space-between;
}

.footer-link-wrap {
    display: flex;
    margin-top: 10px;
    padding: 0;
    border-top: #ddd solid 1px;
    border-bottom: #ddd solid 1px;
}

.footer-link-wrap .footer-column {
    flex: 1;
    border-right: #ddd solid 1px;
    padding: 0 8px 15px;
}

.footer-link-wrap .footer-column:last-child {
    border-right: none;
}

.footer-link-wrap .footer-heading {
    font: 800 13px/18px Arial;
    letter-spacing: 0;
    color: #333;
    margin-top: 15px;
    margin-bottom: 7px;
    text-transform: capitalize;
}

.footer-link-wrap .footer-links a {
    font: 400 12px/22px Arial;
    letter-spacing: 0;
    color: #333;
}

.other-sites {
    display: flex;
    align-items: center;
    padding: 8px;
    border-bottom: #ddd solid 1px;
    margin-bottom: 10px;
}

.company-name {
    display: flex;
    align-items: center;
    font: 800 13px/18px Arial;
    letter-spacing: 0;
    color: #333;
    margin-right: 10px;
    flex-shrink: 0;
}

.company-name svg {
    width: 18px;
    margin-left: 5px;
    fill: #999;
}

.other-sites-links {
    display: flex;
    overflow-x: scroll;
    white-space: nowrap;
}

.other-sites-links li {
    padding: 0 8px;
}

.other-sites-links li a {
    font: 400 12px/22px Arial;
    letter-spacing: 0.24px;
    color: #333;
}

.copywrite {
    display: flex;
    justify-content: center;
    font: 400 10px/22px Arial;
    letter-spacing: 0;
    color: #333;
}

.tnc-links {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5px 0 10px;
}

.tnc-links li {
    padding: 0 5px;
    border-right: #ccc solid 1px;
}

.tnc-links li:last-child {
    border: none;
}

.tnc-links li a {
    font: 700 10px/10px Arial;
    letter-spacing: 0;
    color: #000;
}

.ft-sticky-ad {
    position: fixed;
    bottom: 0;
    width: 100%;
    z-index: 999;
    margin-bottom: 0;
}

.trending-block:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}

.clearfix {
    display: inline-block;
}

.trending-block {
    width: 100%;
    border-bottom: 1px solid #707070;
    padding: 10px 5px;
    display: inline-block;
}

.trending-block .thumnail {
    float: left;
    width: 46%;
}

.trending-block:last-child {
    border: none;
    display: block;
}

.trend-text-wrap {
    max-width: 50%;
    margin: 0 0 0 10px;
    float: left;
}

.trend-text-wrap .category-name {
    margin: 0;
}

.trend-text-title {
    font: Bold 14px/19px "Playfair Display";
    color: #000;
    margin: 5px 0 0;
    max-height: 95px;
    min-height: 95px;
    overflow: hidden;
}